<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liyang.mapper.SeckillGoodsMapper">
    <insert id="addSeckillGoods" parameterType="list">
        insert into SeckillGoods(pid,pname,price,qty) values 
        <foreach collection="seckillGoodsList" item="item" index="index" separator="," >
            (#{item.pid},
            #{item.pname},
            #{item.price},
            #{item.qty})
        </foreach>
    </insert>

    <select id="getGoodsList" resultType="SeckillGoods">
        select * from SeckillGoods;
    </select>

    <select id="getGoodsByPid" resultType="SeckillGoods">
        select * from SeckillGoods where pid = #{pid};
    </select>

    <update id="updateGoodsQty">
        update SeckillGoods set qty = qty-#{qty} where pid = #{pid}
    </update>
</mapper>